<div class="main-content">
  <div class="container-fluid">
    <div class="row">

    	 <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Find Us</h3>
              <p class="card-category">
                  <a>Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
                  <!-- <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a> -->
              </p>
          </div>

		<div class="gg-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2213.9365787688726!2d108.15799126667764!3d16.062681772915916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421925c86d904f%3A0x66ae4e5576252943!2zMjIgUGjhuqFtIE5oxrAgWMawxqFuZywgSG_DoCBLaMOhbmggTmFtLCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZywgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1527761129431" width="1570" height="800" frameborder="0" style="border:0" allowfullscreen>
		</iframe>

	 </div>

	</div>

</div>
</div>
</div>
