<div class="main-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-warning">
				<h3 class="card-title">Order Customer</h3>
			</div>
		</div>
		
		<form>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity">Customer Name</label>
					<input type="text" class="form-control" id="#">
				</div>
				<div class="form-group col-md-6">
					<label for="inputCity">Phone Number</label>
					<input type="text" class="form-control" id="#">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity">Stadium</label>
					<input type="text" class="form-control" id="inputCity">
				</div>
				<div class="form-group col-md-4">
					<label for="inputState">Start Time</label>
					<input type="text" class="form-control" id="inputCity">
				</div>
				<div class="form-group col-md-2">
					<label for="inputZip">End Time</label>
					<input type="text" class="form-control" id="inputZip">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity">Date</label>
					<input type="date" class="form-control" id="inputCity">
				</div>
			</div>	
			<button type="button" style="width: 30%" class="btn btn-primary btn-lg btn-block">Finished Order</button>
		</form>


		<div class="space__">
			
			<p>
				

			</p>

		</div>
		
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<form (ngSubmit) = "addDrinkForm()">
					<div class="card card-stats">
						<div class="card-header card-header-warning card-header-icon">
							<div class="card-icon">
								<i class="material-icons">local_drink</i>
							</div>
							<p class="card-category">Waters Counter</p>
							<h3 class="card-title">{{countDrink}}
							</h3>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="#" placeholder="Name" required [(ngModel)]="water.name" name="name">
						</div>
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="#" placeholder="Price" required [(ngModel)]="water.price" name="price" >
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputAddress2">Description</label>
						<input type="text" class="form-control" id="#" placeholder="Gas, Fruit, or sth'" required [(ngModel)]="water.someThing" name="description">
					</div>
					
					<button type="submit" (click) = "newDrink()"  class="btn btn-primary">Add</button>
				</form>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<form (ngSubmit) = "addFoodForm()">
					<div class="card card-stats">
						<div class="card-header card-header-success card-header-icon">
							<div class="card-icon">
								<i class="material-icons">fastfood</i>
							</div>
							<p class="card-category">Foods Counter</p>
							<h3 class="card-title">{{countFood}}
							</h3>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="#" placeholder="Name" required [(ngModel)]="food.name" name="name">
						</div>
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="#" placeholder="Price" required [(ngModel)]="food.price" name="price">
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputAddress2">Description</label>
						<input type="text" class="form-control" id="#" placeholder="Cookie, Snack, or sth'" required [(ngModel)]="food.someThing" name="description">
					</div>
					
					<button type="submit" (click) = "newFood()" class="btn btn-primary">Add</button>
				</form>
			</div>
		</div>
	</div>
</div>