<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">trending_up</i>
            </div>
            <p class="card-category">This Month</p>
            <h3 class="card-title">89/100
            <small>%</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">warning</i>
              <a href="#pablo">More details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Subtotal</p>
            <h3 class="card-title">29,120,20vnd</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">In-Progress</p>
            <h3 class="card-title">10</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> More details
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
               <i class="material-icons">search</i>
            </div>
            <p class="card-category">Search</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Services:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">local_drink</i> Waters
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                      <i class="material-icons">fastfood</i> Foods
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      <i class="material-icons">grain</i> Other
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">

                <table class="table">
                  <tr *ngFor= "let water of water" routerLinkActive="active">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                    <td>
                  <mat-form-field class="example-full-width">
                    <span matPrefix>{{water.name}} &nbsp; &nbsp; &nbsp;</span>
                    <input id="#" type="tel" matInput>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                </td>
                </table>

              <div class="col-md-4">
                 <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Change Save</button>
              </div>

              </div>
              <div class="tab-pane" id="messages">


                <table class="table">
                  <tr *ngFor= "let food of food" routerLinkActive="active">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                    <td>
                  <mat-form-field class="example-full-width">
                    <span matPrefix>{{food.name}} &nbsp; &nbsp; &nbsp;</span>
                    <input id="#" type="tel" matInput>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                </td>
                </table>

              <div class="col-md-4">
                 <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Change Save</button>
              </div>
<!--                 <table class="table">
                  <tbody>

                    <tr *ngFor= "let food of food" routerLinkActive="active">
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>{{food.name}}</td>
                      <td style="float: right;" class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    
                  </tbody>
                </table> -->
              </div>
              <div class="tab-pane" id="settings">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      </td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Customer paid status</h4>
            <p class="card-category">1 day ago</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Cost (vnd)</th>
                <th>Phone Number</th>
              </thead>
              <tbody>
                <tr *ngFor = "let customers of customer">
                  <td>{{customers.id}}</td>
                  <td>{{customers.name}}</td>
                  <td>{{customers.cost}}</td>
                  <td>{{customers.phonenumber}}</td>
                </tr>
               <!--  <tr>
                  <td>2</td>
                  <td>Do Sy Duy</td>
                  <td>120.000</td>
                  <td>0167 98623 234</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Hoang Van Nga</td>
                  <td>190.000</td>
                  <td>0163 33133 776</td>  
                </tr>
                <tr>
                  <td>4</td>
                  <td>Duong Thanh Anh</td>
                  <td>200.000</td>
                  <td>0169 45556 784</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>