<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">trending_up</i>
            </div>
            <p class="card-category">This Month</p>
            <h3 class="card-title">89
            <small>%</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">warning</i>
              <a href="#pablo">More details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Subtotal</p>
            <h3 class="card-title">{{sumPrice}} VND</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">In-Progress</p>
            <h3 class="card-title">{{coutCustomer}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> More details
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">search</i>
            </div>
            <p class="card-category">Search</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Services:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">local_drink</i> Waters
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                      <i class="material-icons">fastfood</i> Foods
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      <i class="material-icons">grain</i> Other
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table table-hover">
                  <thead class="text-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price (vnd)</th>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let water of water">
                      <td>{{water.idDrink}}</td>
                      <td>{{water.name}}</td>
                      <td>{{water.price}}</td>
                      <td>
                        <button mat-raised-button type="button" (click)="updateDrink(water)" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                        <i class="material-icons">edit</i>
                        </button>
                      </td>
                      <td>
                        <button mat-raised-button type="button" (click)="deleteDrink(water)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-md-4">
                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">View More</button>
                </div>
              </div>
              
              <div class="tab-pane" id="messages">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Price (vnd)</th>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let food of food">
                        <td>{{food.idFood}}</td>
                        <td>{{food.name}}</td>
                        <td>{{food.price}}</td>
                        <td>


<!--           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> -->


                   <!--      <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" data-toggle="modal" data-target="#exampleModal"  >
                        <i class="material-icons">edit</i>
                        </button> -->

                        <button mat-button (click)="openDialog()">Open dialog</button>

                      </td>
                      <td>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                        </button>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-4">
                    <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">View More</button>
                  </div>
                </div>
                <div class="tab-pane" id="settings">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                         <td>
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                        <i class="material-icons">edit</i>
                        </button>
                      </td>
                      <td>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                        </button>
                      </td>
                      </tr>
                      <tr>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Customer paid status</h4>
              <p class="card-category">10 days ago</p>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price (vnd)</th>
                  <th>Phone Number</th>
                  <th>Date</th>
                </thead>
                <tbody>
                  <tr *ngFor = "let customers of customer">
                    <td>{{customers.idCustomerPaid}}</td>
                    <td>{{customers.name}}</td>
                    <td>{{customers.cost}}</td>
                    <td>{{customers.phoneNumber}}</td>
                    <td>{{customers.someThing}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

<!-- 
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> -->

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="form-control-label">Recipient:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="form-control-label">Message:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send message</button>
                </div>
              </div>
            </div>
          </div>




<!--           <a href="#my_modal" data-toggle="modal" data-book-id="my_id_value">Open Modal</a>

<div class="modal" id="my_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Modal header</h4>
      </div>
      <div class="modal-body">
        <p>some content</p>
        <input type="text" name="bookId" value=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 -->


      </div>
    </div>
  </div>

