<div class="main-content">
  <div class="form-date">
    <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Today" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header bg-secondary mb-3" *ngFor = "let stadium_name of stadium_name">
            <h4 class="card-title text-white">{{stadium_name.name}}</h4>
            <p class="card-category">{{stadium_name.address}}</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>ID</th>
                  <th>Customer Name</th>
                  <th>Phone Number</th>
                  <th>Start</th>
                  <th>End</th>
                </thead>
                <tbody>
                  <tr *ngFor="let customerinprogress of customerinprogress">
                    <td>{{customerinprogress.id}}</td>
                    <td>{{customerinprogress.name}}</td>
                    <td>{{customerinprogress.phonenumber}}</td>
                    <td>{{customerinprogress.starttime}}</td>
                    <td class="text-primary">{{customerinprogress.endtime}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header bg-secondary mb-3">
            <h4 class="card-title mt-0 text-white">Hoang Dieu Stadium</h4>
            <p class="card-category">115 Hoang Dieu - Hai Chau</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    ID
                  </th>
                  <th>
                    Customer Name
                  </th>
                  <th>
                    Phone Number
                  </th>
                  <th>
                    Start
                  </th>
                  <th class="text-primary">
                    End
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Le Cong Huy
                    </td>
                    <td>
                      +84 16 2398 231
                    </td>
                    <td>
                      3PM
                    </td>
                    <td class="text-primary">
                      4PM
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Hoang Van Nga
                    </td>
                    <td>
                      +84 18 9298 231
                    </td>
                    <td>
                      4PM
                    </td>
                    <td class="text-primary">
                      6PM
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header bg-secondary mb-3">
            <h4 class="card-title mt-0 text-white">Trung Nu Vuong Stadium</h4>
            <p class="card-category">###</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    ID
                  </th>
                  <th>
                    Customer Name
                  </th>
                  <th>
                    Phone Number
                  </th>
                  <th>
                    Start
                  </th>
                  <th class="text-primary">
                    End
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Duong Van Khanh
                    </td>
                    <td>
                      +84 16 2398 231
                    </td>
                    <td>
                      1PM
                    </td>
                    <td class="text-primary">
                      3PM
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Nguyen An
                    </td>
                    <td>
                      +84 14 6698 299
                    </td>
                    <td>
                      3PM
                    </td>
                    <td class="text-primary">
                      6PM
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>