<div class="main-content">
  <div class="form-date">
    <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Today" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngFor = "let stadium of stadium">

          <div class="card-header bg-secondary mb-3" >
            <h4 class="card-title text-white">{{stadium.name}}</h4>
            <p class="card-category">{{stadium.address}}</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>ID</th>
                  <th>Customer Name</th>
                  <th>Phone Number</th>
                  <th>Start</th>
                  <th>End</th>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of stadium.customers">
                    <td>{{customer.idCustomer}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.phoneNumber}}</td>
                    <td>{{customer.timeStart}}</td>
                    <td class="text-primary">{{customer.timeEnd}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>